@media screen and (max-width: 992px) {
    /* ..... */
  }

@media screen and (max-width: 600px) {
    /* ..... */
  }
.box-container {
    display: flex;
    width: 800px;
    border: 2px solid black;
    padding: 20px;
    margin: 0 auto;
}

.bar {
    margin: 5px;
    border: 2px solid black;
    border-radius: 10px;
}

.kiri {
    flex-grow: 1;
}

.tengah {
    flex-grow: 4;
}

.kanan {
    flex-grow: 1;
}